@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-weight: 300;
  src:
    url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-extrabold-webfont.woff') format('woff');
}
