<script type="text/javascript" src="{{#path}}js/{{/path}}{{name}}-{{version}}.min.js"></script>
<script type="text/javascript" src="{{#path}}js/{{/path}}app2-{{version}}.min.js"></script>
</body>
</html>
