<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <meta charset="utf-8" />
    <title>{{#__}}welcome.title{{/__}}</title>
    <link rel="stylesheet" href="{{#path}}/css/style.css{{/path}}" />
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0,minimal-ui" />
    <meta name="author" content="Scott van Looy" />
  </head>
  <body>
    <nav>
      {{#de}}
        <a href="../">EN</a>
        DE
      {{/de}}
      {{#en}}
        EN
        <a href="de">DE</a>
      {{/en}}
    </nav>