{{> partials/head}}
<h1>&#123;&#123;mustache}}</h1>
<p>{{#__}}welcome.to{{/__}} {{#__}}welcome.test{{/__}} {{version}}</p>

    {{#__}}welcome.title{{/__}}
    {{#__}}i1{{/__}}<br />
    {{#__}}i2{{/__}}<br /><br />
    {{#capitalise}}
        {{#__}}enjoy{{/__}}
    {{/capitalise}}<br /><br />
    <h1 class="logo">}</h1>
{{> partials/foot}}
